*{
    box-sizing: border-box;
    box-sizing: padding-box;
}
.cursor-pointer{
    cursor: pointer;

}
.loadingScreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: black;
    color: white;
    display: flex;
}
.side-navbar{
    width: 20%;
    height: 100vh !important;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;


}
.side-navbar i{
    cursor: pointer;
}
.list ul li{
 cursor: pointer;
}
.content-icons p{
    font-size: 15px;
    
}
#home .contain{
    width: 90%;
}
#home .photo-overlay{
    background-color: #f9f6f6ca ;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 120%;
    /* bottom: 0%; */
    transition: 0.5s;
}
#home .photo:hover .photo-overlay {
    top: 0% !important;
}
#searchBars input{
    color: white !important;
}
#category .contain{
    width: 90%;
}
#category .photo-overlay{
    background-color: #f9f6f6ca ;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 120%;
    /* bottom: 0%; */
    transition: 0.5s;
}
#category .photo:hover .photo-overlay {
    top: 0% !important;
}
.font-30{
    font-size: 30px;
}
#ingredients .contain{
    width: 90%;
}
#contactUs input{
    margin-top: 10px;
    margin-bottom: 10px;
}
#submitBtn button{
    background-color: transparent;
    border-color: darkred;
    color: darkred;
    margin-top: 10px;
}